/** global setting **/
.display {display:none;}

#chatroom .chatlist h1, #chatroom .chatlist h2, #chatroom .chatlist h3, #chatroom .chatlist h4, #chatroom .chatlist h5, #chatroom .chatlist h6 {font-size:14px;margin:0;}
#chatroom .chatlist img {max-width:100%;}
#chatroom {
	height: 45px;
	width: 225px;
	position:fixed;
	left: 20px;
	bottom: -1px;
	padding:10px 14px;
	background: #FFF;
	color: #404040;
	z-index: 999;
	transition: height .2s;
	box-shadow: 0 0 2px rgba(0,0,0,.5);
	font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; 
}
#chatroom .header {
	height: 100%;
}
#chatroom:hover {
	cursor:pointer;
}
#chatroom .status {
	float:left;
	margin: 0 0 0 12px;
}
#chatroom i.action {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(http://img.xiami.net/static/athena/img/sprites.png?v=20140102) no-repeat;
	background-position: -150px -100px;
	margin:7px 0 0 7px;
	vertical-align: middle;
}
#chatroom.active {
	left: -1px;
	width: 350px;
	height: 500px;
	padding: 3em 0 0 13px;
	box-sizing: border-box;
}
#chatroom.active .header {
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	height: 3em;
	line-height: 3;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
	background-color: rgba(61,61,61,0.9);
	color: #FFF;
}
#chatroom.active i.action {
	background-position: -100px -100px;
}
#chatroom .status, #chatroom .sendtool {
	-webkit-user-select: none;
}

#chatroom >.body, #chatroom .chatbox {
	height:100%;
}
#chatroom .chatbox .chatlist {
	width:100%;
	height:77%;
	padding:0 13px 0 0;
	margin: 0;
	list-style-type: none;
	overflow-y: auto;
	overflow-x: hidden;
}
#chatroom .chatbox .chatlist li {
	margin-bottom:20px;
}
#chatroom .chatbox .chatlist li.more {
	padding: 10px;
	margin: 10px 0 15px;
	background: #F8F8F8;
	text-align: center;
}
#chatroom .chatbox .chatlist .avatar {
	float:left;
	height:30px;
	width:30px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	background:green;
	color:#FFF;
	border-radius:2px 2px 2px 2px;
	margin: -1px 7px 0 0;
}
#chatroom .chatbox .chatlist .tri1 ,
#chatroom .chatbox .chatlist .tri2 {
	float:left;
	width:0;
	height:0;
	margin: 10px 0 0 ;
	border-width: 5px 5px 5px 0 ;
	border-style: solid solid solid none;
}
#chatroom .chatbox .chatlist .tri1 {
	border-color: transparent #037E8C transparent transparent;
}
#chatroom .chatbox .chatlist .tri2 {
	margin: 10px -2px 0 -4px;
	border-color: transparent #FFF transparent transparent;
}
#chatroom .chatbox .chatlist .body {
	overflow: hidden;
	padding:4px 9px 0;
	background: #FFF;
	border: 1px solid #037E8C;
	border-radius: 2px;
}
#chatroom .chatbox .chatlist em,
#chatroom .chatbox .chatlist .body { border-top-color:  }

#chatroom .chatbox .chatlist .head {
	line-height: normal;
	padding: 3px 0 5px;
	color: #024959;
}
#chatroom .chatbox .chatlist .content {
	padding: 5px 0 0;
	word-break: break-word;
}
/*
#chatroom .chatbox .chatlist .content a {
	display: block;
	padding: 3px 6px;
	background: #FFF;
	box-shadow: 0 0 2px #BBB;
}*/
#chatroom .chatbox .chatlist .content a:hover{
	box-shadow: 0 0 7px #BBB;
	text-decoration: none;
}
#chatroom .sendbox {
	display: none;
	position: absolute;
	left: 0; right: 0;
	bottom: 0;
	padding: 13px;
	height: 8em;
	background: #FFF;
	box-shadow: 0 -2px 0 rgba(0,0,0,.1);
	box-sizing: border-box;
}
#chatroom.active  .sendbox {
	display: block;
}
#chatroom .sendbox #embutton {
    margin-right:10px;
}
#chatroom .sendbox #emlist {
	font-size:9px;
	overflow-y:auto;
	position: fixed;
	background: #FFF;
	margin-top:-425px;
	height: 400px;
	width: 300px;
	padding: 20px 10px;
	border: 1px solid #AAA;
	border-radius:5px 5px 5px 5px;
}
#chatroom .sendbox #emlist span {
	padding:5px;
	margin-right: 5px;
	margin-bottom: 5px;
	border:1px solid #EEE;
	float:left;
}
#chatroom .sendbox #emlist span:hover {
	background:#EEE;
}
#chatroom .sendbox .textarea {
	width:100%;
	padding:5px;
	border:1px solid #DDD ;
	box-sizing: border-box ;
	background-color: #FFF;
	overflow: auto;
	resize: none;
	margin: 0 0 10px ;
}
#chatroom .sendbox .textarea:focus{
	border-color: #F24C27
}
#chatroom .sendbox button {
	padding: .5em 1em;
	line-height: normal;
	box-sizing: content-box;
	height: 1em;
	background: #F24C27;
	border: 0 none;
	color: #FFF;
	float: right;
}
#atwho-container div.atwho-view {
	z-index:1000;
}
.atwho-view-ul {
    display: none;
    position: absolute;
    z-index: 100;
    margin-top: -1px;
    border: 1px solid#CCC;
    background: #FFF;
    width: 100 % ;
    color: #666
}
.atwho-view-ul li {
    padding: 0 8px;
    height: 32px;
    line-height: 32px;
    cursor: pointer
}
.atwho-view-ul li strong {
    color: #333
}
.atwho-view-ul li small {
    color: #999
}
.atwho-view-ul li img {
    margin-right: 10px;
    vertical-align: middle
}
.atwho-view-ul li.cur,
.atwho-view-ul li.current,
.atwho-view-ul li: hover,
.atwho-view-ul li: active {
    background: #EEE
}
.atwho-view-ul {
    display: block;
    width: auto;
    list-style-type:none;
    margin:0;
    padding:0;
}
#atwho-container {
    max-width: 300px
}