/** global setting **/
.display {display:none;}
#chatroom .chatlist h1, #chatroom .chatlist h2, #chatroom .chatlist h3, #chatroom .chatlist h4, #chatroom .chatlist h5, #chatroom .chatlist h6 {font-size:14px;margin:0;}
#chatroom .chatlist img {max-width:100%;}
#chatroom {
	height: 45px;
	width: 225px;
	position:fixed;
	left: 20px;
	bottom: -1px;
	padding: 10px 14px;
	border: 1px solid #AAA;
	background: #FEFEFE;
	color: #333;
	z-index: 999;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}
#chatroom:hover {
	cursor:pointer;	
}
#chatroom .header {
	height:20px;
}
#chatroom .status {
	float:left;
}
#chatroom i.action {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(http://img.xiami.net/static/athena/img/sprites.png?v=20140102) no-repeat;
	background-position: -150px -100px;
	float:right;
	margin-top:7px;
}
#chatroom.active {
	left: -1px;
	width: 350px;
	height: 80%;
}
#chatroom.active i.action {
	background-position: -100px -100px;
}
#chatroom .status, #chatroom .sendtool {
	-webkit-user-select: none;
}

#chatroom .chatbox {
	width:100%;
	height:100%;
}
#chatroom .chatbox .chatlist {
	width:100%;
	height:77%;
	padding:0 10px 0 0;
	margin:5% 0;
	list-style-type: none;
	overflow-y:auto;
	overflow-x: hidden;
}
#chatroom .chatbox .chatlist li {
	margin-bottom:20px;
}
#chatroom .chatbox .chatlist li.more {
	margin:10px 0;
	text-align: center;
	color:#6495ED;
}
#chatroom .chatbox .chatlist .avatar {
	float:left;
	height:30px;
	width:30px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	background:green;
	color:#FFF;
	border-radius:2px 2px 2px 2px;
}
#chatroom .chatbox .chatlist em {
	float:left;
	width:0;
	height:0;
	border-top:5px solid #CDE9F5;
	border-right:5px solid #CDE9F5;
	border-left:5px solid transparent;
	border-bottom:5px solid transparent;
}
#chatroom .chatbox .chatlist .body {
	margin-left:39px;
	padding:3px 8px;
	background:#CDE9F5;
}
#chatroom .chatbox .chatlist .head {
	font-size:12px;
	line-height:20px;
	border-bottom:1px solid #EEE;
}
#chatroom .chatbox .chatlist .content {
	padding-top:10px;
	word-break: break-word;
}
#chatroom .sendbox {
	width:100%;
	height:13%;
}
#chatroom .sendbox #embutton {
    margin-right:10px;
}
#chatroom .sendbox #emlist {
	position: fixed;
	background: #FFF;
	margin-top:-525px;
	height: 500px;
	width: 500px;
	padding: 20px 10px;
	border: 1px solid #AAA;
	border-radius:5px 5px 5px 5px;
}
#chatroom .sendbox #emlist span {
	padding:10px;
	margin-right: 5px;
	margin-bottom: 5px;
	border:1px solid #EEE;
	float:left;
}
#chatroom .sendbox #emlist span:hover {
	background:#EEE;
}
#chatroom .sendbox .textarea {
	float:left;
	height:80%;
	width:80%;
	padding:5px;
	border:1px solid #000;
	background-color: #FFF;
	overflow: auto;
	resize: none;
}
#chatroom .sendbox button {
	height:80%;
	width:18%;
	float:right;
	padding:15px 0;
	line-height: 0;
}